<h2>A helpdesk ticket has been created.</h2>
New HelpDesk ticket #: <%=@ticket.id%><br />
<%= @ticket.description %>

Please send updates to 4cbcd1717700ab15df8c@cloudmailin.net with Update <%=@ticket.id%> in the subject line.

